h1 {
    color: red;
    font-size: 28px;
    background-color: lightgrey;
    margin-left: 150px;
    width: 400px;
    height: 50px;
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
}
p {
    color:black;
    font-size: 18px;
    font-family: sans-serif;
    background-color: lightgrey;
    width: 400px;
    height: 60px;
    text-align: center;
    margin-left: 40px;

}
 fieldset {
     padding: 10px;
    border-radius: 4px;
   width: 500px;
   height: 400px;
   margin-left: 190px;
   background-color: lightgrey;
   margin-top: 70px;
   border: 2px solid red;
   
}