<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
       
            <fieldset>
                <legend>Dojo Survey report</legend>
                <p>Your name is:        @ViewBag.name</p>
                <p>You are from :       @ViewBag.location</p>
                <p>You Prefer :         @ViewBag.language</p>
                <p>This is your comment:@ViewBag.comment</p>
                <a href="index" class="btn btn-info" role="button">Go back</a>
    
            </fieldset>
        
    </body>
</html>
