<!DOCTYPE html>
<html>
<head>

	<title>Wishlist</title>
</head>
<body>

			<h4>WELCOME!  {{ request.session.name }} | </h4>
			<a href="{% url 'users' %}">Home</a>

		<fieldset>
			<legend>Create a New Wish List Item</legend>
			<form action="/addingitem" method="post">{% csrf_token %}
				<label>Item/Product:</label>
				<input type="text" name="itemname"><br><br>
				<input type="submit" value="Add">
			</form>

			{% if messages %}
			{% for message in messages %}
			<p>{{ message }}</p>
			{% endfor %}
			{% endif %}

		</fieldset>

</body>
</html>
